/* Looks great! I added some styles here and there I tried to remember to add Harcourt styles comments around them so they'd be easy to find. I commented a few things out as they were conflicting. */

/* * {
    padding: 0;
    margin: 0;
} */

/* General formatting ============================================================*/
body {
	background: url(../img/carbon_fibre.png) repeat rgb(116, 114, 114);
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 15px;
}

article {
	width: 90%;
	background: rgba(238, 238, 241, 0.84);
	color: darkblue;
	/* NOTE: this margin isn't being applied because you have the center class, which is of higher specificity and therefore overwrites this. I commented it out for now to demo this, there shouldn't be any change. */
	/* margin: 10px 100px 50px 100px; */
	border: 2px solid darkblue;
	border-radius: 10px 30px 10px 30px;
	box-shadow: 5px 7px 6px 1px rgba(21, 25, 36, 0.54);
	padding: 20px 2%;
}

article.hw-title {
	background: rgba(216, 216, 216, 0.84);
	width: 60%;
}

.sub-nav {
	width: 70%;
	background: rgba(238, 238, 241, 0.84);
	color: darkblue;
	margin: 0 auto;
	margin-top: -15px;
	margin-bottom: 15px;
	border: 2px solid darkblue;
	border-radius: 10px 30px 10px 30px;
	box-shadow: 5px 7px 6px 1px rgba(21, 25, 36, 0.54);
	padding: 20px 2%;
}

.sub-nav li {
	display: inline;
}

.sub-nav li a {
	background: white;
	margin: 10px;
	border: 1px darkblue solid;
	border-radius: 5px;
	padding: 10px 15px;
}

.sub-nav li a:hover {
	background: darkgray;
}

.hw-title h1 {
	margin: 0;
}

h1 {
	font-size: 3rem;
	color: darkblue;
}

p {
	padding: 10px 15px;
	font-weight: 400;
}

li {
	padding: 5px;
}

button {
	cursor: pointer;
	padding: 5px 10px;
	color: darkblue;
	/* border: 1px solid darkblue; */
	border-radius: 5px;
	/* Harcourt styles */
	margin: 0 1rem;
	transition: 300ms;
	border: none;
	background: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	/* Harcourt styles */
}

button:hover {
	/* background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(21, 25, 36, 0.44); */
	/* Harcourt styles */
	transform: scale(1.1);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	/* Harcourt styles */
}

.center {
	/* margin: auto; */
	/* Harcourt styles */
	margin: 20px auto; /* You may not like the look of the margin, I don't know if I like it better or not yet. */
	/* Harcourt styles */
	width: 50%;
	min-width: 560px;
}

.img_format {
	width: 90%;
	margin: 10px 5%;
	border: 1px solid darkblue;
	border-radius: 5px 25px 5px 25px;
	box-shadow: 5px 7px 6px 1px rgba(8, 39, 119, 0.54);
}

/* Table formatting =============================================================*/

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}
.tg td {
	border: 1px solid darkblue;
	font-size: 1.5rem;
	font-weight: 200;
	overflow: hidden;
	padding: 10px 20px;
	word-break: normal;
}

.tg th {
	background-color: rgb(29, 29, 161);
	border: 2px solid darkblue;
	font-size: 1.8rem;
	font-weight: 600;
	overflow: hidden;
	padding: 10px;
	word-break: normal;
}

.tg .tbl-content {
	border-color: darkblue;
	text-align: left;
	vertical-align: top;
}

/* Harcourt styles */
tr:hover > .tbl-content {
	border-color: #fff;
	/* I just added more width this to make it more noticeable */
	border-width: 3px;
}
/* Harcourt styles */

.tg tr:hover {
	background: darkblue;
	color: lightgrey;
}

/* awesome I use n-th child all the time myself */
tr:nth-child(odd) {
	background: rgb(41, 95, 255);
	color: white;
}

tr:nth-child(even) {
	background: rgb(183, 190, 255);
}

/* Form styling ===================================================================*/

fieldset {
	border: 0px;
}
form {
	margin: o auto;
	width: 95%;
	padding: 1em;
}

form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Nice use of more advanced selectors! */
form li + li {
	margin-top: 1em;
}

label {
	display: inline-block;
	text-align: right;
}

textarea {
	width: 99%;
	height: 2c;
}

select {
	width: 100%;
}

input {
	width: 99%;
	vertical-align: top;
}

.right {
	float: right;
}

/* Parent Child Relationship example================================================= */
div .step5 {
	/* There was no space between div & .step5 */
	width: 400px;
	height: 200px;
	border: darkblue 5px groove;
}

div .step5 h3 {
	padding-left: 10px;
}

div .step5 p {
	width: 90%;
	/* changed the height to be a little bigger just to make more noticeable */
	height: 100px;
	border: 5px solid grey;
}

/* Harcourt Styles */
div .step5 p {
	display: table-cell;
	vertical-align: middle;
}
/* Harcourt Styles */

/* Harcourt random styles ================================================= */
.big-af {
	height: 50vh;
}

/* with vertical align, you just need that display set to table-cell */
.vertical-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Same deal but with flexbox */
/* .vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
} */
